canvas {
  display: block;
  margin: 30px auto;
  box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
}

a {
    color: #BFBFBF;
    text-decoration: none
}
a:hover {
    color: #222222;
    text-decoration: underline
}
a:focus {
  color: #BFBFBF;
}
